/server/*.dx64fsl
/server/*.png
/server/*.svg
/server/assets/graph.png
/server/assets/graph.svg
/server/imdb/
/server/moviz-server
/server/moviz-repl
/*.png
/Electron.app
/moviz.app
/moviz-bundle.app
*.dat
/server/elm/elm-stuff
/server/assets/elm.js