body {
    font-family: Helvetica;
    margin: 0;
    transition: opacity ease 150ms;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#preload-1 {
    background: url(images/loading.svg) no-repeat -9999px -9999px;
}

#preload-2 {
    background: url(images/loading-big.svg) no-repeat -9999px -9999px;
}

#preload-3 {
    background: url(vendor/images/ui-icons_ffba3b_256x240.png) no-repeat -9999px -9999px;
}

button, .ui-widget, a, #overlay {
    -webkit-app-region: no-drag;
}

#wrapper {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#graph {
    width: 100vw;
    height: 100vh;
}

#graph, #empty-graph, #empty-graph .show {
    max-width: 100vw;
    display: none;
}

#empty-graph {
    background-color: rgba(220, 220, 220, 0.5);
    border: 1px solid rgba(220, 220, 220, 1);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

#sidebar-pad {
    width: 200px;
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 35px;
    left: 0;
    z-index: -10;
}

#sidebar {
    opacity: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: scroll;
    background-color: rgba(220, 220, 220, 0.5);
}

#sidebar #menu {
    white-space: nowrap;
}

.visible #sidebar, .visible #sidebar #menu {
    transition: all ease 150ms;
}

#sidebar .ui-widget-header {
    padding: 0.2em;
    padding-left: 2em;
}

.electron #sidebar {
    top: 35px;
}

.electron #sidebar .ui-widget-header, #sidebar .pad {
    display: none;
}

.electron #sidebar .pad {
    display: block;
    width: 120px;
    height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    padding: 10px 0 0 80px;
}

#sidebar.collapsed {
    width: 24px;
}

#sidebar.collapsed, #sidebar.collapsing {
    overflow: hidden;
}

#sidebar.collapsed #menu {
    border: 1px solid white;
}

#sidebar.collapsed .ui-widget-header {
    background-color: white;
    border: 1px solid white;
}

#node-filter, #node-filter .buttons, #node-filter .filters, #edge-filter, #graph-classes {
    width: 100%;
}

#node-filter .buttons .ui-button {
    width: 50%;
}

p {
    margin: 10px 5px 5px 5px;
}

a:link, a:visited {
    color: #00e;
}

.ui-button, .ui-spinner-input {
    font-size: 0.8em !important;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.error-dialog .ui-widget-header {
    color: white;
    background-color: #f33;
}

#info-dialog div {
    clear: both;
}

#info-dialog img, #info-dialog .img {
    float: left;
    margin: 5px 8px 5px 5px;
    min-width: 40px;
    min-height: 40px;
}

#info-dialog img + p, #info-dialog .img + p {
    padding-top: 5px;
}

.ui-dialog input {
    width: 100%;
}

#debug-dialog input, #debug-dialog .results {
    font-family: Consolas, Monaco, Lucida Console, Courier New, monospace;
}

#debug-dialog .progress, #load-dialog .progress, #setup-dialog .progress {
    display: none;
    height: 20px;
}

#add-dialog .options {
    width: 100%;
    margin-top: 10px;
}

#add-voice-actors-dialog .elm table {
    table-layout: fixed;
    width: 100%;
}

#add-voice-actors-dialog .elm table select {
    width: 100%;
}

#add-voice-actors-dialog .elm .progress {
    min-height: 20px;
    height: 20px;
}

#progress-dialog .progress .ui-progressbar-value {
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    transition: width ease 1s;
}

.tooltip {
    min-width: 450px;
    line-height: 1.5em;
    font-size: 12px;
}

#movie-details-dialog .details .tooltip {
    min-width: auto;
    font-size: 16px;
}

.tooltip .ui-icon {
    margin: -3px 5px 0 -20px;
    background-image: url(vendor/images/ui-icons_ffba3b_256x240.png);
}

.tooltip .qtip-titlebar {
    font-size: 14px;
}

.tooltip img, .tooltip .image {
    float: left;
    margin: 5px 8px 5px 0;
    width: 154px;
    height: 231px;
}

.tooltip .image p {
    margin: 4px;
}

.tooltip .image .loading {
    margin-top: 80px;
}

.edge-tooltip b {
    display: block;
    font-size: 15px;
    padding: 5px 0 5px 175px;
}

.edge-tooltip hr {
    border-top: solid 1px #616161;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 15px 0;
}

.edge-tooltip.voice-actor img, .edge-tooltip.voice-actor .image {
    clear: both;
    width: 77px;
    height: 115px;
}

.edge-tooltip.voice-actor b {
    padding-left: 98px;
}

.edge-tooltip.voice-actor b span {
    font-weight: normal;
}

.loading {
    margin: 10px auto;
    padding: 24px;
    width: 0;
    height: 0;
    background-image: url(images/loading.svg);
}

.loading-big {
    margin: 10px auto;
    padding: 50px;
    width: 0;
    height: 0;
    background-image: url(images/loading-big.svg);
}

.clear {
    clear: both;
}

#movie-details-dialog {
    display: flex;
    align-items: center;
}

#movie-details-dialog ul.nav {
    min-width: 20%;
    max-width: 20%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    overflow: scroll;
}

#movie-details-dialog ul.nav li {
    display: block;
    width: 100%;
}

#movie-details-dialog ul.nav li a {
    display: block;
    text-decoration: none;
    padding: 3px;
    border: 1px solid #c5c5c5;
    border-bottom: 0;
    color: #454545;
    background-color: #f6f6f6;
}

#movie-details-dialog ul.nav li:last-child a, #movie-details-dialog ul.nav li.last a {
    border-bottom: 1px solid #c5c5c5;
}

#movie-details-dialog ul.nav li a:hover {
    border: 1px solid #ccc;
    border-bottom: 0;
    color: #2b2b2b;
    background-color: #ededed;
}

#movie-details-dialog ul.nav li:last-child a:hover,
#movie-details-dialog ul.nav li.last a:hover {
    border-bottom: 1px solid #ccc;
}

#movie-details-dialog ul.nav li.active a {
    border: 1px solid #003eff;
    border-bottom: 0;
    color: #fff;
    background-color: #007fff;
}

#movie-details-dialog ul.nav li.active:last-child a,
#movie-details-dialog ul.nav li.active.last a {
    border-bottom: 1px solid #003eff;
}

#movie-details-dialog ul.nav li:not(.last).active + li a {
    border-top: 1px solid #003eff;
}

#movie-details-dialog .details {
    padding-left: 20px;
    -webkit-user-select: auto;
    width: 100%;
    height: 100%;
    overflow: scroll;
    line-height: 1.5em;
}

#movie-details-dialog .details ul {
    list-style-type: square;
    padding-left: 20px;
}

#movie-details-dialog .details li em, #movie-details-dialog .details li b {
    color: #003eff;
}


#movie-details-dialog .details li .goof, #movie-details-dialog .details li .spoiler,
#movie-details-dialog .details li .quote {
    font-weight: bold;
}

#movie-details-dialog .details li .spoiler {
    color: #f00;
}

#movie-details-dialog .details li.quotes > div {
    padding-left: 20px;
    text-indent: -20px;
}

#movie-details-dialog .details .flex {
    display: flex;
}

#movie-details-dialog .details .flex ul {
    margin-top: 0;
    padding-right: 30px;
}
